#why h2 {
      text-align: center;
    }
  
    #why h3 {
      padding-bottom: 30px;
    }
  
    #why ul {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
    }
  
    #why li {
      width: 350px;
      min-height: 142px;
      border-radius: 16px;
      text-align: center;
      justify-content: space-between;
      align-items: center;
    }
  
    /* img {
      width: 100px;
    } */

  #whyimg {
    width: 100px;
    margin: 0 auto;
  }
